<!--   <h1 id="page_title">Projects</h1> -->

  <div class="main-content">
    <!-- <div class="blog-list">

      <article> </article>
    </div> -->
    <div class="grid">


        <div class="cell">
        <h5 class="cell-title">Digital</h5>

          <img src="http://placehold.it/800x800" class="responsive-image">
        </div>

        <div class="cell">
        <h5 class="cell-title">Illustration</h5>
          <img src="http://placehold.it/800x800" class="responsive-image">
        </div>

        <div class="cell">
         <h5 class="cell-title">Architecture</h5>
          <img src="http://placehold.it/800x800" class="responsive-image">
        </div>
</div>


        <div class="projects" id="project_section">
          <% @projects.each do |project| %>
            <a href="project(project)"> <%= image_tag(project.image.profile_size.url) %></a>
            <h2><%= link_to project.title, project %></h2>
          <% end %>
        </div>








<!-- for each project, print the title, print the card with th eimage of the project, and hyperlink the card and the image  -->
          <hr>
    </div>
  </div>
